doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/spredStyle.css')
    script(src="https://code.jquery.com/jquery-3.3.1.min.js")

  body
    block content
      div.split-box.left-box
        div.titleArea
          h1= title
        div.labelArea
          p#label 0/1000
        form.formArea(id="new", action="/new", method="post")
          textarea(rows="10", cols="40", name="episode", id="inputedChar", maxlength="1000")
          div#container.transmitRevisionArea
            div#editButton
              button(name="new",type="submit", class="buttonStyle") 編集
              input(type="text", name="edit", class="inputStyle", form="new")
            div#insertButton
              button(name="new",type="submit", class="buttonStyle") 挿入
              input(type="text", name="insert", class="inputStyle", form="new")
            div#submitButtonArea
              button#submitButton(name="new",type="submit", class="buttonStyle", form="new") 投稿
        form.deleteFormArea(id="delete", action="/delete", method="post")
          div#deleteButton
            button(type="submit", class="buttonStyle") 削除
            input(type="text", name="delete", class="inputStyle" form="delete")
        form.allDeleteFormArea(id="allDelete", action="/allDelete", method="post")
          div#allDeleteButtonArea
            button#allDeleteButton(type="submit", class="buttonStyle") 全削除
            input(type="text", name="allDelete", class="inputStyle")
        a.viewLink(href="/view" method="get") ビューページ
        div#navigetionArea
            p Enter：すべてのエピソードを表示する
            p BackSpace：すぺてのエピソードを非表示にする
            p ←→：エピソードを戻す/進める

      div.split-box.right-box
        div#right-box.right-inner
          - for (let i=0; i < episodes.length; i++)
            table.episodeTable(style="table-layout: fixed;width:100%;")
              tr.episodeRow
                td#hogea.episode(style="white-space: pre-wrap;") #{episodes[i]}
                td.episodeNumber #{i}
          hr#scrollBottom

  script(type='text/javascript').
    'use strict';
    let label = document.getElementById('label');
    let inputedChar = document.getElementById('inputedChar');
    const allDeleteButton = document.getElementById('allDeleteButton');
    const scrollBottom = document.getElementById('scrollBottom');
    const LIMIT = 1000;

    inputedChar.addEventListener('keyup', () => {
      label.innerHTML = `${inputedChar.value.length}/${LIMIT}`;
    });

    allDeleteButton.addEventListener('click', () => {
      label.innerHTML = `${inputedChar.value.length}/${LIMIT}`;
    });

      $(function() {
        let bottom = $('#scrollBottom').offset().top;
        $('.right-box').animate({
          scrollTop: bottom
        }, 1000);
      });