doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel="stylesheet", href="/stylesheets/animate.css/animate.min.css")
    script(src="https://code.jquery.com/jquery-3.3.1.min.js")
    script(src="/javascripts/view.js")

block content
  h1= title
  p Welcome to #{title}
  //- p#hoge #{episodes[currentNumber]}
  p#hogehoge(style="white-space:pre;") #{episodes[currentEpisodeNumber]}
  div#result